<a href="https://colab.research.google.com/github/edwingatus/OOP-58002/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for loop

In [4]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday"," Thursday","Friday", "Saturday"]
for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
 Thursday
Friday
Saturday

for loop through string

In [5]:
for x in "week":
    print(x)

w
e
e
k

for loop using break statement

In [7]:
for x in week:
    print(x)
    if x == "Thursday":
      break

Sunday
Monday
Tuesday
Wednesday
 Thursday
Friday
Saturday

to displat only Thursday

In [10]:
for x in week:
  if x == "Thursday":
    print(x)
    break

range()function

In [11]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [14]:
for x in range(2,6+1,2):
  print(x)

2
4
6

Nested loop

In [15]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
   for y in fruits:
     print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While loop

In [16]:
i = 1
while i<=6:
    print(i)
    i+=1

1
2
3
4
5
6

While loop using break statement

In [24]:
i = 1
while i<=6:
    print(i)
    if i ==3:
      break
    i+=1

1
2
3

display only 3

In [29]:
i = 1
while i<=6:
  if i ==3:
    print(i)
    break
  i+=1

3

Create a python program that displays

In [30]:
i = 1
while i<=10:
  print("Hello", i)
  i+=1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Create a Python program that displays integers less than 10 but not less than 3

In [31]:
for i in range (3, 10):
  print(i)

3
4
5
6
7
8
9