<a href="https://colab.research.google.com/github/edwingatus/OOP-58002/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [1]:
print(10>9)
print(10<9)
print(10==9)

True

In [2]:
a= 10
b =9
print(a>b)
print(a<b)
print(a==b)
print(b==a)

True
False
False
False

Bool()function

In [8]:
print(bool(1))
print(bool("17"))
print(bool(None))
print(bool([]))

True
True
False
False

Functions can return a boolean

In [12]:
def myFunction():
  return False
  
print(myFunction())

False

In [23]:
def myFunction():
  return False
if myFunction():
    print("Yes")
else:
  print("No!")

No!

In [24]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

Python Operators

In [27]:
print(10%5)
print(10//3)
print(10**2)

0
3
100

Python Operators

In [32]:
print(10+5)
print(10-5)
print(10*5)
print(10/ 5)
print(10//5)
print(10%3)
print(10**2)

15
5
50
2.0
2
1
100

In [34]:
a=60
b=13    
a<<1

120

Python Assignment Operators

In [40]:
from re import X
x =1
x+=3 #same as x =x+3
print(x)
x =1
x-= 3
print(x)

x =1
x*=3
print(x)

x=1
x/=3
print(x)

4
-2
3
0.3333333333333333

Logical Operator

In [50]:
x= True
y= False

In [45]:
print(x and y)
print(x or y)
print(not (x or y))

True
True
False

Identity Operators

In [51]:
print(x is y)
print(x is not y)

False
True

Application 1 Create an arithmetic calculator( MDAS)

In [77]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    return a / b

print("Select operation.")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

choice = input("Enter choice(1/2/3/4): ")

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if choice == '1':
    print(num1, "+", num2, "=", add(num1, num2))

elif choice == '2':
    print(num1, "-", num2, "=", subtract(num1, num2))

elif choice == '3':
    print(num1, "*", num2, "=", multiply(num1, num2))

elif choice == '4':
    print(num1, "/", num2, "=", divide(num1, num2))
else:
    print("Invalid Input")

Select operation.
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice(1/2/3/4): 4
Enter first number: 15
Enter second number: 5
15 / 5 = 3.0